.card-body div p {
    font-size: 0.8rem;
}

.card-body h4 {
    color: #36c66b;
}

.btn-custom:hover {
    color: white;
}

.item-custom {
    cursor: pointer;
}

.container-custom {
    max-width: 80%;
}

.btn-custom, .item-custom {
    font-size: 0.8rem;
}

.item-custom {
    cursor: pointer;
}

.item-custom:active {
    background-color: transparent;
    color: black;
}