<div *ngIf="showLoader" class="d-flex justify-content-center m-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card m-3 text-center card-custom" *ngIf="!showLoader && book !== undefined">
    <div class="card-body">
        <div>
            <p>Title: {{book.title}}</p>
        </div>
        <div>
            <p>Author: {{book.author}}</p>
        </div>
        <div>
            <p>Publisher: {{book.publisher}}</p>
        </div>
        <div>
            <p>Description: {{book.description}}</p>
        </div>
        <div>
            <p>Price: {{book.price}} €</p>
        </div>
        <div>
            <p>Published Year: {{book.publishedYear}}</p>
        </div>

        <p>From the library:</p>
        <div class="card m-3 text-center">
            <div class="card-body">
                <div>
                    <p>Name: {{book.library.name}}</p>
                </div>
                <div>
                    <p>Address: {{book.library.address}}</p>
                </div>
                <div>
                    <p>Email: {{book.library.email}}</p>
                </div>
                <div>
                    <p>Website: {{book.library.website}}</p>
                </div>
                <div>
                    <p>Construction Year: {{book.library.yearOfConstruction}}</p>
                </div>
            </div>
        </div>

        <div>
            <button type="button" [routerLink]="['/books-update/', book.id]" 
                class="btn btn-outline-primary m-2 btn-custom"><i class="fa-solid fa-arrows-rotate"></i></button>
            <button type="button" [routerLink]="['/books-delete/', book.id]"
                            class="btn btn-outline-danger m-2 btn-custom"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
</div>