<div *ngIf="showLoader" class="d-flex justify-content-center m-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card m-3 text-center card-custom" *ngIf="!showLoader && reader !== undefined">
    <div class="card-body">
        <div>
            <p>Name: {{reader.name}}</p>
        </div>
        <div>
            <p>Email: {{reader.email}}</p>
        </div>
        <div>
            <p>BirthDate: {{reader.birthDate}}</p>
        </div>
        <div>
            <p>Gender: {{reader.gender}}</p>
        </div>
        <div>
            <p>Is student: {{reader.student ? "Yes" : "No"}}</p>
        </div>

        <p>Libraries:</p>
        <div class="row">
            <div class="col-lg-4 li-custom" *ngFor="let library of reader.libraries">
                <div class="card m-3 text-center">
                    <div class="card-body">
                        <div>
                            <p>Name: {{library.name}}</p>
                        </div>
                        <div>
                            <p>Address: {{library.address}}</p>
                        </div>
                        <div>
                            <p>Email: {{library.email}}</p>
                        </div>
                        <div>
                            <p>Website: {{library.website}}</p>
                        </div>
                        <div>
                            <p>Construction Year: {{library.yearOfConstruction}}</p>
                        </div>
                        <div>
                            <p>Start date: {{library.startDate}}</p>
                        </div>
                        <div>
                            <p>End date: {{library.endDate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="button" [routerLink]="['/readers-update/', reader.id]"
                            class="btn btn-outline-primary m-2 btn-custom"><i class="fa-solid fa-arrows-rotate"></i></button>
            <button type="button" [routerLink]="['/readers-delete/', reader.id]"
            class="btn btn-outline-danger m-2 btn-custom"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
</div>